<a href="https://colab.research.google.com/github/data-better/Intro_Stat/blob/main/R_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. R의 소개

* 무료로 사용하는 데이터분석 소프트웨어 : R, Python
* R의 설치 : https://r-project.org
* R 개발환경 : Rstudio / Python 개발환경 : anaconda 
* 클라우드 기반 쥬피터 노트북 : 구글 Colab

## 2. 구글 Colab

* 구글 id가 있어야 이용 가능, 구글 drive 이용
* 텍스트와 코드로 구성 
  - 텍스트 작성 : 마크다운
  - 코드 수행 : Crtl+Enter, Shift+Enter, Alt+Enter 
* 크롬 브라우저에서 Python과 R을 실행 : R은 임시
  - 설치 필요하지 않음
  - GPU 무료 액세스
* Pyhon 기반 : https://colab.research.google.com/
* R : https://colab.research.google.com/notebook#create=true&language=r

## 3. R의 특징
  * Colab 환경 검토 : R.Version()
  * 설치된 library : library()
  * 설치된 data    : data()

In [ ]:
R.Version()

## 4. R 기초

In [ ]:
# 계산과 변수 지정

1+2
a = 10
b <- 2
a+b

[1] 3

[1] 12

In [ ]:
# 데이터 형태
a1 = c(1,2,5)
print(a1)
b1 <- c(1,2, 'aa', TRUE)
print(b1)
c1 <- matrix(1:12, 4,3)
print(c1)

[1] 1 2 5
[1] "1"    "2"    "aa"   "TRUE"
     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12